/.vscode
/Arduino IDE.exe
/arduino-ide_nightly-20240923_Windows_64bit.zip
/bg.png
/chrome_100_percent.pak
/chrome_200_percent.pak
/colour_natalie.py
/cse110
/CSE111
/CSE170 - Emotional Intelligence Assessment.pdf
/d3dcompiler_47.dll
/ffmpeg.dll
/Git-2.46.1-64-bit.exe
/icudtl.dat
/idk.py
/libEGL.dll
/libGLESv2.dll
/LICENSE.electron.txt
/LICENSES.chromium.html
/locales
/LUKE.cs
/Microsoft VS Code
/New folder
/Oh deer.jpg
/python-3.12.6-amd64.exe
/random code files
/resources
/resources.pak
/snapshot_blob.bin
/thisclassisboring.cpp
/v8_context_snapshot.bin
/vk_swiftshader.dll
/vk_swiftshader_icd.json
/VSCodeUserSetup-x64-1.93.1.exe
/vulkan-1.dll
/W01 BYUI 101 Take Action Report.docx